.grid-container-example {
    display: grid;
    /* need to define specific columns or rows */
    /* fr is a fraction unit, fraction of the container */
    grid-template-columns: 2fr 1fr;
    /* automatically set sizing for any rows added to the grid */
    grid-auto-rows: 150px;
    grid-template-rows: 200px ;
}

.grid-container-example-2 {
    display: grid;
    grid-template-columns: 200px 250px;
    /* define min and max size for our content */
    grid-auto-rows: minmax(150px, auto);
    /* space elements apart from each other */
    grid-gap: 20px;
    /* allows you to create different strings for the areas that you want elements to take up */
    grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar content"
}

.grid-item-1-ex {
    /* assign template area */
    grid-area: header;
}

.grid-item-2-ex {
    grid-area: sidebar;
}

.grid-item-3-ex {
    grid-area: content;
}

.grid-container-example2 {
    display: grid;
    grid-template-columns: 200px 250px;
    /* define min and max size for our content */
    grid-auto-rows: minmax(150px, auto);
    /* space elements apart from each other */
    grid-gap: 20px;
}

.grid-item-1-ex2 {
    /* define which column item should start and stop in */
    grid-column-start: 1;
    /* -1 end will make element span to the end of the container */
    grid-column-end: -1;
    /* can do same thing in one statement */
    grid-column: 1 / -1;
}

.grid-item-2-ex2 {
    /* span a certain number of rows / columns */
    grid-row: span 2;
}

.grid-item-3-ex2 {
    grid-row: 2 / 4;
}

.grid-container-example-3 {
    display: grid;
    grid-template-columns: 200px 250px;
    /* define min and max size for our content */
    grid-auto-rows: minmax(150px, auto);
    /* space elements apart from each other */
    grid-gap: 20px;
    /* how we layout our container with its container */
    justify-content: center;
    align-content: center;
    /* 100 view height, take up whole screen */
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 250px;
    /* define min and max size for our content */
    grid-auto-rows: minmax(150px, auto);
    /* space elements apart from each other */
    grid-gap: 20px;
    /* justify items inside of container */
    /* set to stretch by default */
    justify-items: stretch;
    align-items: stretch;
}

.grid-item-1 {
    /* align items individually */
    align-self: start;
    justify-self: center;
}