<h2 class="page-header">New Book</h2>
<!-- where we put fields for our book and submit button -->
<!-- indicate that the form will be sending multipart data that could include a file -->
<form action="/books" method="POST">
    <!-- use shared input file because inputs code will be shared -->
    <!-- import fields from partial code file -->
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class = "btn btn-primary" type="submit">Create</button>
    </div>
</form>