<!-- just run on server, don't output to html -->
<% if(locals.errorMessage != null) { %>
    <div class="error-message">
        <!-- render text from message -->
        <%= errorMessage %> 
    </div>
<% } %>